saved_env_models/
saved_heur_models/
*.DS_Store
*._.DS_Store
*.pyc
**/results/**
**/__pycache__/**
deepcubeai/environments/sokoban_data/goal_states.pkl
dist/
deepcubeai.egg-info/
.pixi/*
.build-debug
*.conda
.mypy_cache
.ruff_cache
deepcubeai/data/**
**/plots/**

# Exclude
!.pixi/config.toml
!deepcubeai/environments/puzzlegen/data/**
!deepcubeai/environments/sokoban_data/surface/**
!deepcubeai/environments/sokoban_data/goal_states.zip
!deepcubeai/data/cube3/search_test/search_test_data_reverse.pkl
!deepcubeai/data/cube3/search_test/search_test_data.pkl
!deepcubeai/data/sokoban/search_test/search_test_data.pkl
!deepcubeai/plots/cube3_mse_100eps_10000steps_1.pdf
!deepcubeai/plots/cube3_mse_100eps_10000steps_1.txt
!deepcubeai/plots/sokoban_mse_100eps_10000steps_1.pdf
!deepcubeai/plots/sokoban_mse_100eps_10000steps_1.txt

.shared_inductor_cache
**/.shared_inductor_cache/**
